.hoursWeather {
  color: gray;
  .hoursWeather__wrapper {
    height: 100%;
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
}
@media (min-width: 600px) {
  .hoursWeather {
    .hoursWeather__wrapper {
      display: flex;
      justify-content: center;
    }
  }
}
