.detail {
  .detail__header {
    position: fixed;
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    background-color: rgba(46, 44, 44, 0.349);
    color: white;
    .container__arrowBack {
      color: white;
      margin: 0px 10px;
      border-radius: 50%;
      background-color: black;
      padding: 5px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .titleTime {
      span {
        font-weight: 300;
      }
    }
  }
}
